*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.grid {

display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 610px;
height: 610px;
background-color: black;
margin: auto;

    
}
.box{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;   
    background-color: white;
    text-align: center;
}
.far{
    color: blue;
}
.fas{
    color: red;
}
